

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body card-radio-body">

          <h5 class="card-title">¿Es tu primera vez?</h5>
          <button type="button" name="button" class="btn" onclick="location.href='/registro/'">Llenar formato de registro</button>


        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body card-radio-body">

          <h5 class="card-title">¿Ya te habías registrado?</h5>
          <button type="button" name="button" class="btn" [routerLink]="['selecciona-pago']" >Realizar pago parcial</button>

        </div>
      </div>
    </div>
  </div>
</div>
