<div class="row">
    <div class="col-sm-12">
        <h4 class="text-center">
            Gracias por inscribirte con nosotros al curso: <b>{{ _entrenamiento }}</b> <br/>
            Tu matrícula es: <b>{{ _matricula }}</b> <br/>
            para descargar tu formato da clic aquí
            <a class="btn negative btn-primary btn-sm no-margin" (click)="gotoPDF()">PDF</a> <br>
            <small>Por favor, revisa tu correo</small>

        </h4>
        <hr>
    </div>
</div>
<app-selecciona-pago></app-selecciona-pago>
