      <!--   Big container   -->
	    <div class="container">


        <!-- formato de inscripcion -->
	        <div class="row">
		        <div class="col-sm-12 col-lg-10 offset-lg-1">



		          <div class="wizard-container">
		                <div class="card wizard-card" data-color="blue" id="wizard">

                      <div class="wizard-header">
                          <a href="/"><img alt="Regresar al Inicio" src="assets/img/logo_mm.png" alt="" style="max-width:270px; min-width:220px;"></a>
                      </div>

					  <router-outlet></router-outlet>

                      <!-- <app-registro-form></app-registro-form> -->
                      <!-- <app-selecciona-pago></app-selecciona-pago> -->
                      <!-- <app-pago></app-pago> -->




                    </div>
              </div> <!-- wizard container -->



          </div>
        </div> <!-- row -->
    </div> <!--  big container -->

    <div class="footer">
        <div class="container text-center">
             &copy; 2018 Misión:México
        </div>
    </div>
