
<div class="pago-container"
    [style.display]=" !bPaso2_oxxo && !bPaso2_oficina ? 'block' : 'none' ">

    <ng-template #pagoParcialLogin>
      <div class="container container__login" [style.display]="!existeAlumno ? 'block' : 'none' ">

            <div class="row">
              <form action="" style="width:100%" [formGroup]="parcialLogin">


                <div class="col-sm-6 offset-sm-3">

                  <div class="form-group label-floating">
                    <label class="control-label" for="">Ingrese su email *</label>
                    <input formControlName="email_login" class="form-control" type="email" name="email_login" id="email_login" required />
                  </div>

                  <div class="form-group label-floating">
                    <label class="control-label">Ingrese su matrícula *</label>
                    <input formControlName="matricula_login" class="form-control" type="text" name="matricula_login" id="matricula_login" required />
                  </div>

                  <div class="form-group">
                    <label class="control-label">Selecciona uno de los Entrenamientos *</label>
                    <select formControlName="entrenamiento"
                            name="entrenamiento"
                            id="entrenamiento"
                            class="form-control" required >

                            <option value="" disabled>Seleccione un Entrenamiento</option>
                            <option *ngFor="let entrenamiento of entrenamientos"
                                    [value]="entrenamiento.codigo">
                                    {{ entrenamiento.nombre }}
                            </option>

                    </select>
                  </div>

                </div>

                <div class="col-sm-6 offset-sm-3">
                  <button type="button" name="button" class="btn btn-sm" (click)="submitParcialLogin()" >Ingresar</button>
                </div>


              </form>
            </div>
            <hr>
      </div>

    </ng-template>



    <div class="container">

      <div class="row" *ngIf="pagoParcial">
        <div class="col-md-12">
          <h4 class="text-center">Bienvenido {{ _nombre }} {{ _apellido }} </h4>
        </div>
      </div>

      <div class="row" *ngIf="primerPago; else pagoParcialLogin">
          <div class="col-sm-12">
              <h4 class="text-center">
                  Gracias por inscribirte con nosotros al curso: <b>{{ _entrenamiento }}</b> <br/>
                  Tu matrícula es: <b>{{ _matricula }}</b> <br/>
                  para descargar tu formato da clic aquí
                  <a class="btn negative btn-primary btn-sm no-margin" (click)="gotoPDF()">PDF</a> <br>
                  <small>Por favor, revisa tu correo</small>

              </h4>
              <hr>
          </div>
      </div>

      <div [style.display]="existeAlumno ? 'block' : 'none' ">
        <div class="row" >

          <div class="col-lg-3 col-md-4 offset-lg-1">
            <div class="selecciona_tipo_de_pago text-right">
                  <h6>Selecciona forma de pago:</h6>

                  <div class="pagarEn row">
                    <div class="col-md-12">
                      <button class="btn btn-block negative" id="pagoTDC"
                          [class.btn-primary]="bPagoTDC"
                          (click)="TDC_on()">
                          TDC
                      </button>

                    </div>
                    <div class="col-md-12">

                      <button class="btn btn-block negative" id="pagoOxxo"
                          [class.btn-primary]="bPagoOxxo"
                          (click)="Oxxo_on()">
                          OXXO
                      </button>

                    </div>
                    <div class="col-md-12">
                      <button class="btn btn-block negative" id="pagoOficinas"
                          [class.btn-primary]="bPagoOficinas"
                          (click)="Oficinas_on()">
                          Oficinas
                      </button>

                    </div>
                    <div class="col-md-12">

                      <button class="btn btn-block negative" id="pagoDeposito"
                          [class.btn-primary]="bPagoDeposito"
                          (click)="Deposito_on()">
                          Depósito Bancario
                      </button>

                    </div>




                  </div>

            </div>

          </div>
          <div class="col-lg-7 col-md-8">
            <div class="divPagos" >

              <!-- #divPagarconTDC -->
              <div id="divPagarconTDC" class="divPagarconTDC"
                [style.display]="bPagoTDC ? 'block' : 'none' ">

                <div class="container">

                  <div class="row">
                    <!-- Div Icon Certificado Conekta -->
                    <div class="col-lg-12 col-md-12 form-title">
                      <div class="btnTop">
                        <div class="btn-certificado">
                            <span class="text hidden-xs">Certificado de seguridad Conekta.io</span>
                            <span class="icon icon-conekta"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 form-title">
                      <h3 class="pago-title"><strong>Pago con Tarjeta</strong></h3>
                    </div>
                    <div class="col-md-6 form-title text-right">
                      <h5 class="pago-monto">
                          <strong *ngIf="showPagoUnico">{{ _monto_tdc | currency : "MXN" }}</strong>
                          <strong *ngIf="showMonto6meses">{{ _monto_tdc*( 1.1 ) | currency : "MXN" }}</strong>
                          <strong *ngIf="showMonto12meses">{{ _monto_tdc*( 1.2 ) | currency : "MXN" }}</strong>
                      </h5>
                      <p>
                          <small>
                            <i>
                                *Para pago diferido los montos aumentan:<br/>
                                - 6 meses 10% ( {{ _monto_tdc*( 1.1 ) | currency : "MXN" }} )<br/>
                                - 12 meses 20% ( {{ _monto_tdc*( 1.2 ) | currency : "MXN" }} )<br/>
                            </i>
                          </small>
                      </p>
                      <!-- <p class="pago-balazo">Pago único</p> -->
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-lg-6">
                      <div class="">
                        <label for="" [style.display]=" !hideForm ? 'block' : 'none' ">Seleccione tipo de pago</label>
                        <select class="form-control"
                                id="tipo_de_pago"
                                name="tipo_de_pago"
                                [ngModel]="selectedTipoPago"
                                (ngModelChange)="onChange($event)"
                                [disabled]="isDisabled"
                                >
                          <option *ngFor="let _tdc_tipo of _tdc_tipo_de_pago" [value]="_tdc_tipo.value"

                              required> {{ _tdc_tipo.name }} </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-lg-10 col-md-12 form-title">

                      <form action="" class="formTDC" [style.display]=" !hideForm ? 'block' : 'none' ">

                        <div class="form-group label-floating">
                          <label class="control-label">Nombre del titular</label>
                          <input class="form-control" type="text"
                              name="nombre" id="nombre" required
                              (input)="_tdc_nombre_del_titular = $event.target.value;">

                        </div>

                        <div class="form-group label-floating">
                          <label class="control-label" >Número de la tarjeta</label>
                          <input class="form-control" type="text"
                              name="tarjeta" id="tarjeta" value="" required
                              (input)="_tdc_numero_de_tarjeta = $event.target.value;">

                        </div>

                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group label-floating">
                              <label class="control-label">MM</label>
                              <input class="form-control" type="text"
                              name="mesexpiracion" id="mesexpiracion" value=""
                                  (input)="_tdc_vencimiento_mm = $event.target.value;">

                            </div>

                          </div>
                          <div class="col-sm-4">
                            <div class="form-group label-floating">
                              <label class="control-label" for="">AA</label>
                              <input class="form-control" type="text"
                                  name="anioexpiracion" id="anioexpiracion" value=""
                                      (input)="_tdc_vencimiento_aa = $event.target.value;">

                            </div>

                          </div>
                          <div class="col-sm-4">
                            <div class="form-group label-floating">
                              <label class="control-label" for="">CVV</label>
                              <input class="form-control" type="text"
                                  name="cvv" id="cvv" value=""
                                      (input)="_tdc_cvv = $event.target.value;">

                            </div>

                          </div>

                        </div>


                        <!--
                          <div class="monto">
                            <div>Monto del cargo: <input type="text" name="monto" id="monto" value="100"></div>
                          </div>
                        -->
                        <input class="btn btn-primary" type="button" id="btn_PagoTDC_proc" name="btn_PagoTDC_proc"
                          value="Realizar el Pago"
                          (click)="procesaPagoTDC()"
                          onclick="Conekta.setPublicKey('key_S1VUbB2vokjgLUjc4uZzCUg'); console.log( Conekta );"
                          [disabled]="isDisabled"
                          >

                      </form>

                      <div [style.display]="hideForm ? 'block' : 'none' ">
                          Gracias por tu pago. <br>
                          <button onclick="location.href='/'" type="button" class="btn" name="button">Volver al Inicio</button>
                      </div>

                    </div>
                  </div>

                </div>

              </div> <!-- /#divPagarconTDC -->

              <!-- #divPagarenOxxo -->
              <div id="divQuieroPagarenOxxo" class="divQuieroPagarenOxxo tab-pane"
                    [style.display]="bPagoOxxo ? 'block' : 'none' ">

                <div class="container">

                  <div class="row">
                    <div class="col-md-8 form-title">
                      <h3 class="pago-title no-margin"><strong>Pago en OXXO</strong></h3>
                    </div>
                    <div class="col-md-4 form-title text-right">
                      <h5 class="pago-monto"><strong>{{ _monto_oxxo | currency : "MXN" }}</strong> </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-10 col-md-12 form-title">
                      <p>Si continúas, se generará una orden de pago para</p>
                      <img src="/assets/img/oxxopay_brand.png" alt="OXXOPay"><br>
                      <button 
                              class="btn"
                              id="btn_PagarOxxo"
                              (click)="generaOrdenOxxo()"
                              [disabled]="isDisabled"> Generar orden de pago</button>
                    </div>
                  </div>


                </div>

              </div>

              <!-- #divPagarenOficina -->
              <div id="divQuieroPagarenOficina" class="tab-pane"
                    [style.display]="bPagoOficinas ? 'block' : 'none' ">

                <div class="container">

                  <div class="row">
                    <div class="col-md-8 form-title">
                      <h3 class="pago-title no-margin"><strong>Pago en Oficinas</strong></h3>
                    </div>
                    <div class="col-md-4 form-title text-right">
                      <h5 class="pago-monto"><strong>{{ _monto_oficinas | currency : "MXN" }}</strong> </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 form-title">
                      <h5 class="pago-title"><strong>CDMX</strong></h5>
                      <p>
                        Calle Mercaderes 20, San José Insurgentes, 03900 Ciudad de México, CDMX
                      </p>
                      <button onclick="location.href='/'" type="button" class="btn" name="button">Volver al Inicio</button>
                    </div>
                  </div>

                </div>


              </div>

              <!-- #divPagarenDeposito -->
              <div id="divQuieroPagarenDeposito" class="tab-pane"
                    [style.display]="bPagoDeposito ? 'block' : 'none' ">

                <div class="container">

                  <div class="row">
                    <div class="col-md-8 form-title">
                      <h3 class="pago-title no-margin"><strong>Depósito Bancario</strong></h3>
                      <!--
                          <button class="btn" id="btnPagarDeposito">Pago Deposito bancario</button>
                      -->
                    </div>
                    <div class="col-md-4 form-title text-right">
                      <h5 class="pago-monto"><strong>{{ _monto_oficinas | currency : "MXN" }}</strong> </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 form-title">
                      <!-- <p><strong>Si continúas, se generará una orden de pago para pagar en oficina</strong></p> -->
                      <div>
                          <h5>Datos para depósito bancario</h5>
                          SANTANDER cta. <strong>65-50362365-5</strong><br/>
                          Misión México Excelencia SA de CV<br/>
                      </div>
                      <br/>
                      <div>
                          <h5>Datos para transferencia</h5>
                          CLABE: <strong>014180655036236552</strong>, a nombre de <br> Misión México Excelencia, SA de CV
                      </div>
                      <div>
                        <button onclick="location.href='/'" type="button" class="btn" name="button">Volver al Inicio</button>
                      </div>

                    </div>
                  </div>

                </div>
              </div>


            </div> <!-- .container__pagos -->
          </div>
        </div>
      </div>

    </div>


</div> <!-- /.pago-container -->

<!-- ******************************** -->
<div id="divPagarconOxxo" [style.display]="bPaso2_oxxo ? 'block' : 'none' ">
    <div class="container">

      <div class="row">
          <div class="col-md-12">
              <div class="opps">
              <div class="opps-header">
                  <div class="opps-reminder">Ficha digital. No es necesario imprimir.</div>
                  <div class="opps-info">
                      <div class="opps-brand">
                          <img src="/assets/img/oxxopay_brand.png" alt="OXXOPay">
                      </div>
                      <div class="opps-ammount">
                          <h3>Monto a pagar</h3>
                          <h2><span id="oxxo_monto">{{ _monto_oxxo | currency : "MXN" }}</span> <sup></sup></h2>
                          <p>OXXO cobrará una comisión adicional al momento de realizar el pago.</p>
                      </div>
                  </div>
                  <div class="opps-reference">
                      <h3>Referencia</h3>
                      <h1 id="oxxo_referencia">{{ _oxxo_referencia }}</h1>
                  </div>
              </div>
              <div class="opps-instructions">
                  <h3>Instrucciones</h3>
                  <ol>
                      <li>Acude a la tienda OXXO más cercana. <a href="https://www.google.com.mx/maps/search/oxxo/" target="_blank">Encuéntrala aquí</a>.</li>
                      <li>Indica en caja que quieres realizar un pago de <strong>OXXOPay</strong>.</li>
                      <li>Dicta al cajero el número de referencia en esta ficha para que tecleé directamente en la pantalla de venta.</li>
                      <li>Realiza el pago correspondiente con dinero en efectivo.</li>
                      <li>Al confirmar tu pago, el cajero te entregará un comprobante impreso. <strong>En el podrás verificar que se haya realizado correctamente.</strong> Conserva este comprobante de pago.</li>
                  </ol>
                  <div class="opps-footnote">Al completar estos pasos recibirás un correo de <strong>Misión:México</strong> confirmando tu pago.</div>
              </div>
              <div class="text-center"><button onclick="location.href='/'" type="button" class="btn" name="button">Volver al Inicio</button></div>
              </div>

          </div>

    </div>

</div>
</div>
<div id="divPagarenOficina" [style.display]="bPaso2_oficina ? 'block' : 'none' ">
    <div class="row">
        <div class="col-md-5 form-title offset-md-1">
            <h3 class="pago-title"><strong>Pago en Oficina</strong></h3>
        </div>
        <div class="col-md-5 form-title text-right">
            <p class="pago-monto"><strong>$6,900 MXN</strong> </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 form-title offset-md-1">
            <p>Nombre: {{ nombre }} </p>
            <p>Matricula: {{ matricula }}</p>
            <p class="lead"> Oficinas: </p>
            <p>
                Calle Mercaderes 20, San José Insurgentes, 03900 Ciudad de México, CDMX
            </p>

        </div>
    </div>
</div>
<!-- ******************************** -->
