
body { font-size: 14px; }


.error-message {
  color: $red;
}

.form-group {
  //

  label.label-float {
    position: absolute;
    margin-top: -1rem;
  }
}

.listado {
  li { margin-bottom: 1rem;}
}

.card { margin-bottom: 1.5rem; }

/*
Invalid field icon
*/

span.invalid{
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 12px;

  &::before{
      width: 0;
      height: 0;
      left: -8px;
      top: 0px;
      content: '';
      position: absolute;
      border-top: 6px solid transparent;
      border-right: 8px solid #e62163;
      border-bottom: 6px solid transparent;
  }
}

.errorDiv {
  label { color: $brand-danger !important; }
}


/*
Invalid form message
*/

.error-message {
  display: none;
  color: $brand-danger;
  z-index: 2;
  padding: 0;
}

#office-error,
#phone__home-error,
#phone__cell-error,
#email-error,
#fecha_nacimiento-error,
#archivote-error,
#email_login-error,
#matricula_login-error,
#name-error,
.form-check .invalid {
  position: absolute;
  width: auto;
  top: -1rem;
  right: 0;
  height: auto;
  display: inline-block;
  color: red;
  font-size: 12px;

  // & ~ .icon {
  //   border-color: $red;
  // }

  &::before {
    left: auto;
    right: 0;
    top: 26px;
  }
}

#archivote-error { padding-left: 9rem; top: -3rem; }

.upload-element { position: relative; }


// #embarazada-error {
//   left: 0;
//   right: auto;
//   color: $black !important;
//   margin-top: -2rem;
// }

.choice > .invalid {
  left: 0;
  text-align: left;
  top: -.6rem;
}

#reglas_de_participacion-error, #aviso_de_privacidad-error {
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  height: auto;
  display: inline-block;
  color: red;

  &::before {
    left: auto;
    right: 0;
    top: 26px;
  }
}

#embarazada-error {
  margin-top: -1.5rem;

  &:before {
    top: 50px;
  }
}

#reglas_de_participacion-error {
  top: -1.5rem;
}

.form-check-error .invalid {
  display: none !important;
}

.form-check-group {
  padding: .5rem 1rem;
  .form-check-input { margin-top: .1rem; }
}


.no-margin { margin: 0; }

// Selecciona Pago

.pago-container {
  padding-bottom: 2rem;
}

// Certificado de Seguridad Conekta

.btnTop {
    text-align: right;

    .btn-certificado {
      font-size: 12px;
      color: $gray;
      line-height: 22px;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;

      &:hover .text {
        opacity: 1;
      }

      &:hover .icon-conekta {
        background-position: center top;
      }

      .text {
        opacity: 0;
        vertical-align: middle;
        margin-right: 10px;
        transition: .3s;
      }

      .icon {
        display: inline-block;
        vertical-align: middle;

        &.icon-conekta {
          background-color: transparent;
          background-image: url('../assets/img/conekta-certificado-icon.png');
          // background-position: -147px -107px;
          width: 22px;
          height: 27px;
        }
      }
    }
  }

  .wizard-card .wizard-header { padding-bottom: 0; }


.wizard-card .wizard-header { padding-left: 20px; padding-right: 20px; }
.footer { color: $brand-primary; text-shadow: none; }

.wizard-header img { max-width: 100%; width: 100%; }


/*
Seleciona pago
*******************************/

.divPagarconTDC .pago-title { margin-top: 0; }


/* Parcial Login */

.container__login {
  margin-bottom: 2rem;

  form { padding-bottom: 1rem; }
}


@media (max-width:767px) {
  .text-right {
    text-align: left !important;
  }
  .divPagos { margin-top: 1.5rem; }

  .selecciona_tipo_de_pago { text-align: center !important;}

  #embarazada-error {
    margin-top: -2rem;
    line-height: 1.4;
  }

  .btn {
    padding: .5rem 1rem;
  }
}
