<div class="form-container" >
  <form action="" method="">

      <div class="registro-formato">
          <div class="text-center balazo">
            <h5>¡BIENVENIDO A MISIÓN MÉXICO!</h5>
            <p>ESTA ES LA PÁGINA DONDE PODRÁS LLENAR TU <strong>FORMATO DE INSCRIPCIÓN AL CURSO INTRODUCTORIO,</strong> UN PROCESO QUE TE TOMARÁ UNOS POCOS MINUTOS, Y SI LO DESEAS PUEDES REALIZAR EL PAGO TOTAL O PARCIAL DEL MISMO MEDIANTE UNA TARJETA DE DÉBITO/CRÉDITO O BIEN UTILIZAR ALGUNA DE LAS OTRAS OPCIONES DISPONIBLES. </p>
            <p>GRACIAS POR TU CONFIANZA Y TE FELICITAMOS POR TOMAR ESTA DECISIÓN PARA TU VIDA</p>
          </div>

          <div class="wizard-navigation">
              <ul>
                  <li><a href="#personal" data-toggle="tab" data-color="blue">Información Personal</a></li>
                  <li><a href="#objetivos" data-toggle="tab">Objetivos</a></li>
                  <li><a href="#medico" data-toggle="tab">Cuestionario Médico</a></li>
                  <li><a href="#reglas" data-toggle="tab">Reglas de Participación</a></li>
                  <li><a href="#derecho" data-toggle="tab">Derecho de exclusión</a></li>
              </ul>
          </div>

          <div class="tab-content">


              <div class="tab-pane" id="personal" [formGroup]="personalInfo">

                  <div class="row">

                      <div class="col-sm-10 offset-sm-1">
                          <h4 class="info-text">Información Personal</h4>
                          <p id="error-message" class="error-message brand-danger"></p>
                      </div>

                      <div class="col-sm-5 offset-sm-1">
                          <div class="form-group label-floating">
                            <label class="control-label">Nombre *</label>
                            <input formControlName="name" class="form-control" type="text" name="name" id="name" required />

                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label">Apellidos *</label>
                              <input formControlName="lastname" class="form-control" type="text" name="lastname" id="lastname" required />

                            </div>

                            <div class="form-group label-floating">
                              <label class="control-label">¿Cómo te gusta que te digan? *</label>
                              <input formControlName="nickname" class="form-control" type="text" name="nickname" id="nickname" required />

                            </div>

                            <div class="form-group label-floating">
                              <label class="control-label">¿Quién te invito al Entrenamiento? *</label>
                              <input formControlName="who__invited" class="form-control" type="text" name="who__invited" id="who__invited" required />

                            </div>

                            <div class="form-group label-floating">
                              <label class="control-label">Celular de quien te invito al Entrenamiento *</label>
                              <input formControlName="who__invited_cellphone" class="form-control" type="text" name="who__invited_cellphone" id="who__invited_cellphone" required />

                            </div>

                            <div class="form-group">
                              <label class="control-label">Fecha de nacimiento *<span>(aaaa-mm-dd)</span></label>
                              <input class="datepicker form-control"
                                name="fecha_nacimiento" id="fecha_nacimiento" type="textbox"
                                [(ngModel)]="fecha_nacimiento"  [ngModelOptions]="{standalone: true}"
                                 (keyup)="onKeyFecha($event)" placeholder="aaaa-mm-dd" required >

                            </div>

                            <div class="form-group label-floating">
                              <label class="control-label">Ocupación</label>
                              <input formControlName="occupation" class="form-control" type="text" name="occupation" id="occupation" />

                            </div>
                      </div>

                      <div class="col-sm-5">

                          <div formGroupName="direccionCompleta">
                              <div class="row">


                                  <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label label-float">Dirección *</label>
                                        <input formControlName="street" class="form-control" type="text" name="street" id="street" placeholder="Calle" required />
                                    </div>
                                  </div>

                                  <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Ext.</label>
                                        <input formControlName="ext" class="form-control" type="text" name="ext" id="ext" required />
                                    </div>
                                  </div>

                              </div>

                              <div class="row">

                                  <div class="col-md-6">
                                    <div class="form-group label-floating">
                                      <label class="control-label" for="">Int.</label>
                                      <input formControlName="int" class="form-control" type="text" name="int" id="int" />
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group label-floating">
                                      <label class="control-label" for="">Colonia</label>
                                      <input formControlName="colonia" class="form-control" type="text" name="colonia" id="colonia" required />
                                    </div>
                                  </div>

                              </div>
                          </div>

                          <div class="form-group label-floating">
                            <label class="control-label">Teléfono casa</label>
                            <input formControlName="phone__home" class="form-control" type="number" name="phone__home" id="phone__home" maxlength="10" numeric-only />

                          </div>


                          <div class="form-group label-floating">
                            <label class="control-label">Teléfono celular *</label>
                            <input formControlName="phone__cell" class="form-control" type="number" name="phone__cell" id="phone__cell" maxlength="10" minlength="10" numeric-only required />

                          </div>

                          <div class="form-group label-floating">
                            <label class="control-label">Oficina</label>
                            <input formControlName="office" class="form-control" type="number" name="office" id="office" maxlength="10" numeric-only />

                          </div>

                          <div class="form-group label-floating">
                            <label class="control-label">Email *</label>
                            <input formControlName="email" class="form-control" type="email" name="email" id="email" required />

                          </div>

                          <div class="form-group">
                                <label class="control-label">Selecciona uno de los Entrenamientos *</label>
                                <select formControlName="entrenamiento"
                                        name="entrenamiento"
                                        id="entrenamiento"
                                        class="form-control" required >

                                        <option value="" disabled>Seleccione un Entrenamiento</option>
                                        <option *ngFor="let entrenamiento of entrenamientos"
                                                [value]="entrenamiento.codigo">
                                                {{ entrenamiento.nombre }}
                                        </option>

                                </select>
                            </div>

                      </div>

                      <div class="col-sm-10 offset-sm-1 ">
                        <input  type='button'
                                class='btn btn-next btn-fill btn-primary btn-wd pull-right'
                                name='next' value='Siguiente'
                                (click)="guardarPersonalInfo()"
                                 />
                      </div>

                  </div>

                </div>


              <div class="tab-pane" id="objetivos" [formGroup]="objetivosInfo">

                  <div class="row">

                    <div class="col-md-10 offset-md-1">
                      <h4 class="text-center">Objetivos</h4>
                      <p class="description">Menciona de forma específica los resultados que deseas obtener a través de tu participación en el Entrenamiento Introductorio</p>
                    </div>

                  </div>
                  <div class="row">
                      <div class="col-md-7 offset-md-1" formArrayName="objetivos">
                        <div class="form-group label-floating is-empty" *ngFor="let objetivo of objetivosInfo.controls['objetivos'].controls; let objetivoLabel of objetivosLabel; let i = index">
                            <label class="control-label"> Objetivo {{i + 1}} </label>
                            <textarea
                                      [formControlName]="i"
                                      name="resultado__esperado-{{i + 1}}"
                                      class="form-control"
                                      id="resultado__esperado-{{i + 1}}"
                                      rows="3" required >

                            </textarea>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button (click)="agregarObjetivo()"
                                type="button" class="btn btn-sm"
                                [disabled]="objetivosDisabled"
                                >
                          Añadir objetivo
                        </button>
                      </div>

                      <!-- <div class="col-md-10 offset-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">Segundo Objetivo</label>
                            <textarea class="form-control" name="resultado__esperado-2" id="resultado__esperado-2" rows="3"></textarea>
                        </div>
                      </div>

                      <div class="col-md-10 offset-md-1">
                        <div class="form-group label-floating">
                            <label class="control-label">Tercer Objetivo</label>
                            <textarea class="form-control" name="resultado__esperado-3" id="resultado__esperado-3" rows="3"></textarea>
                        </div>
                      </div> -->

                  </div>

                  <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <br>
                      <p class="description">En caso de emergencia: ¿A quién te gustaría que contactáramos?</p>
                    </div>

                    <div class="col-md-5 offset-md-1">

                      <div class="form-group label-floating">
                        <label class="control-label" for="">Nombre</label>
                        <input formControlName="emergency__name_1" class="form-control" type="text" name="emergency__name_1" id="emergency__name_1" required />

                      </div>
                      <div class="form-group label-floating">
                        <label class="control-label" for="">Teléfono</label>
                        <input formControlName="emergency__phone_1" class="form-control" type="text" name="emergency__phone_1" id="emergency__phone_1" required />

                      </div>
                      <div class="form-group label-floating">
                        <label class="control-label" for="">Parentesco</label>
                        <input formControlName="emergency__relation_1" class="form-control" type="text" name="emergency__relation_1" id="emergency__relation_1" required />

                      </div>

                    </div>

                    <div class="col-md-5">

                      <div *ngIf="mostrar" class="contactoExtra">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label" for="">Nombre</label>
                            <input formControlName="emergency__name_2" class="form-control" type="text" name="emergency__name_2" id="emergency__name_2" />

                          </div>
                          <div class="form-group label-floating is-empty">
                            <label class="control-label" for="">Teléfono</label>
                            <input formControlName="emergency__phone_2" class="form-control" type="text" name="emergency__phone_2" id="emergency__phone_2" />

                          </div>
                          <div class="form-group label-floating is-empty">
                            <label class="control-label" for="">Parentesco</label>
                            <input formControlName="emergency__relation_2" class="form-control" type="text" name="emergency__relation_2" id="emergency__relation_2" />

                          </div>
                      </div>
                      <button (click)=" mostrar = !mostrar "
                              type="button" class="btn btn-sm">
                        añadir/quitar contacto extra
                      </button>

                    </div>


                  </div>

                  <div class="row">
                    <div class="col-sm-10 offset-sm-1 ">
                      <input type='button' class='btn btn-previous btn-fill btn-default btn-wd pull-left' name='previous' value='Volver' />
                      <input  type='button'
                              class='btn btn-next btn-fill btn-primary btn-wd pull-right'
                              name='next' value='Siguiente'
                              (click)="guardarObjetivosInfo()"
                               />
                    </div>
                  </div>

              </div>


              <div class="tab-pane" id="medico" [formGroup]="medicoInfo">
                  <h4 class="info-text">Cuestionario médico</h4>
                  <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <p class="description">
                        Toda la información contenida en esta solicitud está protegida por el secreto profesional. Sólo será utilizada por tu Entrenador y/o personal autorizado. No nos hacemos responsables en caso de que se omita o tergiverse la información proporcionada en este formulario.
                      </p>
                    </div>
                  </div>


                  <div class="row">

                      <div class="col-sm-6 offset-sm-3 medicos-card">

                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Eres mayor de 18 años?</h5>

                              <div class="form-check">
                                <div class="form-check-group" >
                                    <input
                                            id="adulto"
                                            class="adulto form-check-input"
                                            value="true"
                                            type="radio"
                                            name="adulto"
                                            [value]="true"
                                            [(ngModel)]="adulto"
                                            [ngModelOptions]="{standalone: true}"
                                            required
                                            >
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input
                                            class="adulto form-check-input"
                                            value="false"
                                            type="radio"
                                            name="adultoNO"
                                            [value]="false"
                                            [(ngModel)]="adulto"
                                            [ngModelOptions]="{standalone: true}"
                                            >
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>
                              </div>


                            </div>
                          </div>

                        <div *ngIf="bCard" class="bCard">
                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Padeces alguna enfermedad?</h5>
                              <p class="card-text">(diabetes o hipotensión arterial, arritmia cardíaca, problemas de coagulación)</p>

                              <div class="form-check">

                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show = true;" type="radio" name="enfermedad"
                                        [value]="true" [(ngModel)]="enfermedad"  [ngModelOptions]="{standalone: true}"
                                            ng-checked="enfermedad" required>
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show = false;" type="radio" name="enfermedad"
                                        [value]="false" [(ngModel)]="enfermedad"  [ngModelOptions]="{standalone: true}"
                                            ng-checked="enfermedad">
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>

                              </div>

                              <div *ngIf="show" class="reveal-if-yes">
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">Especifica:</label>
                                  <input class="form-control" type="text" name="enfermedad__especifica"
                                    formControlName="enfermedad__especifica" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Con qué medicamento te controlas?:</label>
                                  <input class="form-control" type="text" name="enfermedad__medicamento"
                                    formControlName="enfermedad__medicamento" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Desde cuando?:</label>
                                  <input class="form-control" type="text" name="enfermedad__fecha"
                                    formControlName="enfermedad__fecha" required>

                                </div>
                              </div>



                            </div>
                          </div>


                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Alérgico a algún medicamento?</h5>

                              <div class="form-check">
                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show1 = true" type="radio" name="alergia"
                                        [value]="true" [(ngModel)]="alergia" [ngModelOptions]="{standalone: true}" required>
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show1 = false" type="radio" name="alergia"
                                        [value]="false" [(ngModel)]="alergia" [ngModelOptions]="{standalone: true}">
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>
                              </div>


                              <div *ngIf="show1" class="reveal-if-yes">
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿A cuál?:</label>
                                  <input class="form-control" type="text" name="alergia__especifica" id="alergia__especifica"
                                    formControlName="alergia__especifica" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Qué reacción ocasiona?:</label>
                                  <input class="form-control" type="text" name="alergia__reaccion" id="alergia__reaccion"
                                    formControlName="alergia__reaccion" required>

                                </div>
                              </div>


                            </div>
                          </div>


                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Estás embarazada o crees que podrías estarlo?</h5>
                              <!-- <p *ngIf="showPregnant" class="card-text">(En caso afirmativo no podrás participar en el curso introductorio)</p> -->

                              <div class="form-check" style="margin-top:3rem;">

                                <div class="form-check-group" >
                                    <input (change)="showPregnant = true" class="form-check-input" type="radio" name="embarazadaSi"
                                        [value]="true" [(ngModel)]="embarazada" [ngModelOptions]="{standalone: true}" >
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input (change)="showPregnant = false" class="form-check-input" type="radio" name="embarazada"
                                        [value]="false" [(ngModel)]="embarazada" [ngModelOptions]="{standalone: true}" required>


                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>

                              </div>



                            </div>
                          </div>


                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Tienes antedecentes de alguna adiccion?</h5>
                              <p class="card-text"><small>(drogas, alcohol, medicamentos)</small></p>

                              <div class="form-check">
                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show2 = true" type="radio" name="droga"
                                        [value]="true" [(ngModel)]="droga" [ngModelOptions]="{standalone: true}" required>
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show2 = false" type="radio" name="droga"
                                        [value]="false" [(ngModel)]="droga" [ngModelOptions]="{standalone: true}">
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>

                              </div>



                              <div *ngIf="show2" class="reveal-if-yes">
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿A qué?:</label>
                                  <input class="form-control" type="text" name="droga__especifica" id="droga__especifica"
                                    formControlName="droga__especifica" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Cuándo?:</label>
                                  <input class="form-control" type="text" name="droga__cuando" id="droga__cuando"
                                    formControlName="droga__cuando" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Lo has tratado de alguna forma?:</label>
                                  <input class="form-control" type="text" name="droga__tratamiento" id="droga__tratamiento"
                                    formControlName="droga__tratamiento" required>

                                </div>
                              </div>


                            </div>
                          </div>


                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Tomas algún tipo de medicamento que altere tu condición habitual?</h5>
                              <p class="card-text"><small>(somníferos, tranquilizantes, neurolépticos, miorrelajantes, etc)</small></p>

                              <div class="form-check">
                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show3 = true" type="radio" name="medicamento"
                                        [value]="true" [(ngModel)]="medicamento" [ngModelOptions]="{standalone: true}" required>
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show3 = false" type="radio" name="medicamento"
                                        [value]="false" [(ngModel)]="medicamento" [ngModelOptions]="{standalone: true}">
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>

                              </div>


                              <div *ngIf="show3" class="reveal-if-yes">
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Cúal?:</label>
                                  <input class="form-control" type="text" name="medicamento__especifica" id="medicamento__especifica"
                                    formControlName="medicamento__especifica" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Por que?:</label>
                                  <input class="form-control" type="text" name="medicamento__porque" id="medicamento__porque"
                                    formControlName="medicamento__porque" required>

                                </div>
                              </div>



                            </div>
                          </div>


                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Estás actualmente bajo algún tratamiento psicológico y psiquiátrico?</h5>
                              <p class="card-text"><small>En caso afirmativo: Anexa al formulario una carta de tu psicólogo o psiquiatra o médico autorizando tu participación en el curso introductorio</small></p>

                              <div class="form-check">
                                <div class="form-check-group" >
                                    <input (change)="showCarta = true"  class="form-check-input" type="radio" name="tratamiento"
                                        [value]="true" [(ngModel)]="tratamiento" [ngModelOptions]="{standalone: true}" required>
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input (change)="showCarta = false" class="form-check-input" type="radio" name="tratamiento"
                                        [value]="false" [(ngModel)]="tratamiento" [ngModelOptions]="{standalone: true}">
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>

                              </div>

                              <div *ngIf="showCarta" class="reveal-if-yes">
                                <h5 class="card-title">Sube el archivo</h5>

                                <div class="upload-element">
                                    <input name="archivote" type="file" id="archivote" (change)="onFileChange($event)" #fileInput
                                        accept="image/*,application/pdf" required>
                                </div>

                                <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">remover</button>
                              </div>

                            </div>
                          </div>


                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Has tenido crisis nerviosas?</h5>
                              <p class="card-text"><small>(descontroles, histeria, depresión)</small></p>

                              <div class="form-check">
                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show4 = true" type="radio" name="crisis__nerviosa"
                                        [value]="true" [(ngModel)]="crisis__nerviosa" [ngModelOptions]="{standalone: true}" required>
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show4 = false" type="radio" name="crisis__nerviosa"
                                        [value]="false" [(ngModel)]="crisis__nerviosa" [ngModelOptions]="{standalone: true}">
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>

                              </div>





                              <div *ngIf="show4" class="reveal-if-yes">
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿De qué tipo?:</label>
                                  <input class="form-control" type="text" name="crisis__nerviosa_tipo" id="crisis__nerviosa_tipo"
                                    formControlName="crisis__nerviosa_tipo" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Cúando?:</label>
                                  <input class="form-control" type="text" name="crisis__nerviosa_cuando" id="crisis__nerviosa-cuando"
                                    formControlName="crisis__nerviosa_cuando" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Lo has tratado de alguna forma?:</label>
                                  <input class="form-control" type="text" name="crisis__nerviosa_tratamiento" id="crisis__nerviosa-tratamiento"
                                    formControlName="crisis__nerviosa_tratamiento" required>

                                </div>
                              </div>


                            </div>
                          </div>


                          <div class="card">
                            <div class="card-body card-radio-body">
                              <h5 class="card-title">¿Has tenido intentos o fantasías de suicidio?</h5>

                              <div class="form-check">
                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show5 = true" type="radio" name="suicidio"
                                        [value]="true" [(ngModel)]="suicidio" [ngModelOptions]="{standalone: true}" required>
                                    <!-- <div class="icon">
                                        <i class="material-icons">check</i>
                                    </div> -->
                                    <label class="form-check-label">Sí</label>
                                </div>

                                <div class="form-check-group" >
                                    <input class="form-check-input" (change)="show5 = change" type="radio" name="suicidio"
                                        [value]="false" [(ngModel)]="suicidio" [ngModelOptions]="{standalone: true}">
                                    <!-- <div class="icon">
                                        <i class="material-icons">clear</i>
                                    </div> -->
                                    <label class="form-check-label">No</label>
                                </div>

                              </div>



                              <div *ngIf="show5"  class="reveal-if-yes">
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Cuándo?:</label>
                                  <input class="form-control" type="text" name="suicidio_cuando" id="suicidio_cuando"
                                    formControlName="suicidio_cuando" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Por qué?:</label>
                                  <input class="form-control" type="text" name="suicidio_porque" id="suicidio_porque"
                                    formControlName="suicidio_porque" required>

                                </div>
                                <div class="form-group label-floating">
                                  <label for="" class="control-label">¿Lo has tratado de alguna forma?:</label>
                                  <input class="form-control" type="text" name="suicidio_tratamiento" id="suicidio_tratamiento"
                                    formControlName="suicidio_tratamiento" required>

                                </div>
                              </div>



                            </div>
                          </div>

                          <div class="card">
                            <div class="card-body">

                              <div>
                                <h5 class="card-title">Anexa una copia de tu identificación oficial.</h5>

                                <div class="upload-element">
                                    <input name="ine" type="file" id="ine" (change)="onINEChange($event)" #fileInputINE
                                        accept="image/*,application/pdf" required>
                                </div>

                                <button type="button" class="btn btn-sm btn-default" (click)="clearFileINE()">remover</button>
                              </div>

                            </div>

                          </div>

                        </div>

                      </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-10 offset-sm-1 ">
                      <input type='button' class='btn btn-previous btn-fill btn-default btn-wd pull-left' name='previous' value='Volver' />

                      <input  type='button'
                              class='btn btn-next btn-fill btn-primary btn-wd pull-right'
                              name='next' value='Siguiente'
                              (click)="guardarMedicoInfo()"
                               />
                    </div>
                  </div>

              </div>


              <div class="tab-pane" id="reglas" [formGroup]="reglasInfo">

                  <div class="row">

                      <div class="col-sm-10 offset-sm-1">
                        <div class="form-group label-floating">
                              <h4 class="info-text"> Reglas de participación del Entrenamiento Introductorio</h4>
                              <p class="description">El Entrenador leerá en voz alta las reglas de participación durante el primer día del Entrenamiento. Pedirá al participante que se comprometa a seguirlas durante todo el Entrenamiento como condición fundamental para poder seguir participando en el mismo. El incumplimiento de este reglamento causará baja del curso.</p>

                          </div>
                      </div>

                      <div class="col-sm-7 offset-sm-1 listado">

                        <ol>
                          <li>Respete la confidencialidad acerca de las vivencias y experiencias de los demás participantes. Recuerde que Misión:México no puede garantizar la confidencialidad.</li>
                          <li>Sea puntual a todas las sesiones del Entrenamiento.</li>
                          <li>Participe en todas las sesiones del Entrenamiento.</li>
                          <li>No hable con las personas sentadas a su alrededor, ni haga preguntas o converse. Comparta con los demás particpantes, únicamente cuando le sea permitido por el Entrenador, o durante los periodos designados para tales actividades.</li>
                          <li>No fume, coma, beba o mastique chicle dentro del salón donde se dicta el Entrenamiento.</li>
                          <li>No tome estupefacientes o enervantes, ni consuma ningún tipo de bebida alcohólica o medicamento no recetado por su médico durante los cinco días de sesión.</li>
                          <li>Sea responsable por su bienestar físico. Aliméntese adecuadamente, duerma y descanse lo suficiente. No olvide tomar los medicamentos recetados en los horarios recomendados por su médico.</li>
                          <li>Lleve el gafete con su nombre en un lugar visible durante todo el Entrenamiento. Devuélvalo al final de cada día y antes de las comidas del sábado y domingo.</li>
                          <li>No use ningún tipo de grabación de audio o video, ni tome notas dentro del salón durante el Entrenamiento.</li>
                          <li>No se siente al lado de personas conocidas desde antes de comenzar el Entrenamiento introductorio.</li>
                          <li>Mantenga los celulares, radios y aparatos electrónicos apagados durante las sesiones del Entrenamiento. Los puede dejar en vibrador asegurándose de no traerlos consigo dentro del salón.</li>
                          <li>Cuide las instalaciones y alrededores donde se imparte el Entrenamiento, asegurándose de respetar las áreas destinadas a comer y fumar.</li>
                        </ol>



                      </div>

                      <hr>

                      <div class="col-md-10 offset-sm-1 text-center">
                        <div class="form-group">
                          <input formControlName="reglas_de_participacion" type="checkbox" class="form-check-input" name="reglas_de_participacion" id="reglas_de_participacion" required>
                          <label for="reglas_de_participacion" class="form-check-label">He leído y estoy de acuerdo y entendí las reglas de participación</label>
                        </div>
                        <hr>
                      </div>


                      <div class="col-md-12 text-right">
                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd pull-left' name='previous' value='Volver' />
                        <button
                                type="button"
                                class="btn btn-primary pull-right"
                                data-toggle="modal"
                                data-target="#avisodeprivacidad"
                                [disabled]="!reglasInfo.value.reglas_de_participacion"
                                disabled> Aviso de privacidad </button>
                                <input style="opacity:0;height:0;width:0;" formControlName="aviso_de_privacidad" type="checkbox" class="form-check-input" name="aviso_de_privacidad" id="" required>
                      </div>

                  </div>
                  <div class="modal" id="avisodeprivacidad" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" >Aviso de Privacidad</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-10 offset-sm-1">


                              <p><strong>MISIÓN MÉXICO EXCELENCIA SA DE CV</strong>, con domicilio físico en Mercaderes #20-601, Col. San José Insurgentes. Del. Benito Juárez. C.P. 03900, es responsable de recabar sus datos personales, del uso que se le brinde a los mismos y de su protección. </p>

                    					<p>Su información será utilizada para proveer los servicios y productos que ha solicitado, informarle sobre cambios en los mismos y evaluar la calidad del servicio que le brindamos. Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales: nombre, fecha de nacimiento, dirección, correo electrónico, ocupación, teléfonos de contacto; considerados como sensibles, según la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. </p>

                    					<p>Usted tiene derecho de acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos, se pueden poner en contacto con nuestro departamento de datos personales en Mercaderes #20-601, Col. San José Insurgentes. Del. Benito Juárez. C.P. 03900. Así como también, en el siguiente correo electrónico: <a href="mailto:contacto@misionmexico.com">contacto@misionmexico.com</a>. </p>

                    					<p>Así mismo, le informamos que sus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a esta empresa. En ese sentido, su información puede ser compartida con personal de las oficinas de Querétaro, Querétaro, con Domicilio físico en: Boulevard Universitario Mz. 5 Lt. 1 #540, Condominio Shopping Center, Juriquilla, Fracc. Jurica Acueducto C.P. 76230, Querétaro, Querétaro; para datos estadísticos e invitaciones a futuros Entrenamientos. Si usted no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento para ello. </p>

                    					<p>En caso de que no permita que sus datos personales sean transferidos en los términos que presenta este aviso, así como dejar de recibir mensajes promocionales de nuestra parte, puede solicitarlo a través de: Tel. 5651 1187 Dirección: Mercaderes 20, Col. San José Insurgentes. Del. Benito Juárez. CP. 03900. Así como también, en el siguiente correo electrónico: <a href="mailto:contacto@misionmexico.com">contacto@misionmexico.com</a>. </p>

                    					<p>Cualquier modificación a este aviso de privacidad podrá consultarla en <a>www.misionmexico.com</a></p>

                            </div>
                          </div>

                          <div class="row">

                            <div class="col-sm-5 offset-sm-1">
                              <div class="form-group text-center">
                                <input formControlName="aviso_de_privacidad" type="checkbox" class="form-check-input" name="aviso_de_privacidad" id="aviso_de_privacidad" required>
                                <label class="form-check-label" for="aviso_de_privacidad">Acepto las Políticas de Privacidad</label>
                              </div>
                            </div>


                            <div class="col-sm-5">
                              <div class="">

                                <button type="button" class="pull-left btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <!-- <button type="button" class="btn btn-primary">Acepto</button> -->
                                <input  type='button'
                                        class='btn btn-next btn-fill btn-primary btn-wd pull-right'
                                        name='next' value='Siguiente'
                                        (click)="guardarAvisodePrivacidad()"
                                        data-dismiss="modal"
                                        [disabled]="!reglasInfo.valid"
                                         />
                              </div>
                            </div>
                          </div>
                        </div>




                      </div>
                    </div>
                  </div>

              </div>


              <div class="tab-pane" id="derecho" [formGroup]="derechoInfo" >

                  <div class="row">

                      <div class="col-sm-10 offset-sm-1">
                        <div class="form-group label-floating">
                              <h4 class="info-text">Derecho de exclusión</h4>
                          </div>
                      </div>

                      <div class="col-sm-10 offset-sm-1">

                        <p>Durante el transcurso del Entrenamiento, los Entrenadores se reservan el derecho de excluir a ciertas personas del mismo, por cualquier motivo que determinen necesario. En dicho caso, Misión:México no hará devolución del dinero pagado por el participante para tomar el Entrenamiento.</p>

              					<p>Para los alumnos no excluidos del Entrenamiento que soliciten devolución se deberá solicitar 48 horas antes de iniciar el Entrenamiento al cual está inscrito, presentando solicitud por escrito y copia de Identificación oficial del alumno. Teniendo en cuenta el cargo por gastos administrativos de $2,000.00 (Dos mil pesos 00/100 M.N.) el cual no tiene devolución.</p>

              					<p>Para los alumnos que quieran realizar cesión de derechos del servicio a otra persona, se podrá realizar una sola vez y únicamente para el entrenamiento al cual se esta inscrito, presentando solicitud por escrito y copia de identificación oficial del alumno inscrito 24 horas antes de iniciar el Entrenamiento. Si el alumno deja incompleto el Entrenamiento tendrá un año de vigencia para retomarlo.</p>

              					<h4>Registro del Entrenamiento Introductorio</h4>
              					<p>Miércoles Registro: 17:30 horas hasta las 19:00 horas.</p>

              					<h4>Horarios del Entrenamiento Introductorio</h4>

              					<table>
              						<tr>
              							<td width="100">Miércoles</td>
              							<td>19:30 horas hasta aproximadamente la 1:00 horas.</td>
              						</tr>
              						<tr>
              							<td width="100">Jueves</td>
              							<td>19:30 horas hasta aproximadamente la 1:00 horas.</td>
              						</tr>
              						<tr>
              							<td width="100">Viernes</td>
              							<td>19:30 horas hasta aproximadamente la 1:00 horas.</td>
              						</tr>
              						<tr>
              							<td width="100">Sábado</td>
              							<td>11:00 horas hasta aproximadamente la 22:00 horas.</td>
              						</tr>
              						<tr>
              							<td width="100">Domingo</td>
              							<td>10:00 horas hasta aproximadamente la 20:00 horas.</td>
              						</tr>
              						<tr>
              							<td width="100">Lunes</td>
              							<td>Una sesión de aproximadamente de 2 horas.</td>
              						</tr>
              					</table>
                        <br>

              					<p>Por consiguiente declaro y ratifico que:</p>

              					<ul class="listado">
              						<li>Soy mayor de 18 años de edad</li>
              						<li>He leído este documento cuidadosamente</li>
              						<li>He comprendido todas las recomendaciones</li>
              						<li>He respondido a todas las preguntas honestamente</li>
              						<li>Asumo total responsabilidad por mi participación en este curso</li>
              						<li>Mi intención es participar en el curso en la fecha indicada al reverso</li>
              					</ul>


                      </div>


                  </div>

                  <div class="row">

                    <div class="col-sm-5 offset-sm-1">
                      <div class="form-group text-center">
                        <input formControlName="derecho_de_exclusion" type="checkbox" class="form-check-input" name="derecho_de_exclusion" id="derecho_de_exclusion" required>
                        <label class="form-check-label" for="derecho_de_exclusion">Acepto Derecho de Exclusión</label>
                      </div>
                    </div>

                    <div class="col-sm-5">

                      <input type='button' class='btn btn-previous btn-fill btn-default btn-wd pull-left' name='previous' value='Volver' />
                      <input
                          type='button'
                          class='btn btn-finish btn-fill btn-primary btn-wd pull-right'
                          name='finish'
                          value='{{ enviarTxt }}' data-rule-dateISO="true"
                          (click)="guardarDerecho()"
                          [disabled]="isDisabled || !derechoInfo.valid"

                           />

                    </div>

                  </div>
              </div>

          </div>

          <!-- <div class="wizard-footer">
            	<div class="pull-right">
                    <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Siguiente' (click)="guardarInfo()" [disabled]="!personalInfo.valid" />
                    <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Enviar' />
                </div>
                <div class="pull-left">
                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Volver' />
                </div>
              <div class="clearfix"></div>
          </div> -->

      </div>

  </form>
</div>
